Flask==3.1.1
Flask-SQLAlchemy==3.1.1
Flask-Login==0.6.3
PyMySQL==1.1.1
Werkzeug==3.1.3
datetime
gunicorn
python-dotenv
cryptography
selenium
requests==2.31.0
flask-limiter==3.11.0
Flask-Mail
bcrypt
flask_wtf